.Admin_Cards {
  display: flex;
  gap: 10px;
}
.parentContainer{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Admin_Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}
@media screen and (min-width: 1200px) {
  .Admin_Cards{
    /* position:relative;
    top:8%;
    bottom:0;
    right:0;
    left:0; */
    background-color: red;
  }
  
}

@media screen and (max-width: 768px)
{
  .Admin_Cards{
    width: 90%;
  }
}
