.RightSide{
    /* display: flex; */
    flex-direction: column;
    /* padding-bottom: 1rem; */
    justify-content: space-evenly;
    /* margin-bottom: 115%; */
    /* margin-left: 15%; */
}


@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
        margin-top: 5rem;
        width: 100%;

    }
}

 @media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
} 