.edit_user_profile form{
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.edit_user_profile .info_avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    cursor: pointer;
}
.edit_user_profile .info_avatar img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.edit_user_profile .info_avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orange;
    transition: 0.3s ease-in-out;
    background: #fff5;
}
.edit_user_profile .info_avatar:hover span{
    bottom: -15%;
}
.edit_user_profile .info_avatar #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
::-webkit-file-upload-button{
    cursor: pointer;
}